#以'#'开始的行，被视为注释.                                                                                         
                             
*.*


!.gitignore
!*.s
!*.asm
!*.c
!*.cpp
!*.h

#Quartus文件
!*.v


#VC文件
!*.sln
!*.vcxproj
!*.vdproj

!*.bmp
!*.rc
!*.rc2
!*.ico
!*.ini
!*.dll

!*.aps

!*.txt


#Keil文件
!*.uvproj
!*.uvopt
!*.Uv2
!*.Opt
!*.ini
!*._ia





#忽略所有生成的 html文件,
#*.html

#foo.html是手工维护的，所以例外.
#!foo.html

# 忽略所有.o和 .a文件.
#*.[oa]



 
